@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.nav-bg{
  background: rgba(255,255,255,0.1);
}

/* allows me to change style when link is active */
#my-nav a.active {
  border-bottom-width: 3px;
  padding-bottom: 33px;
}

#my-nav-burger a.active {
  border-bottom-width: 3px;
  border-color: black;
}

#nav-destination a.active {
  border-bottom-width: 3px;
  padding-bottom: 5px;
}

#my-nav a:hover {
  border-bottom-width: 4px;
  padding-bottom: 33px;
  border-color: black;
}

/* to make sure that the menu scales from the top */
.myBurgerMenu{
  transform-origin: top;
}


/* to make close-btn spin */

.myClose{
  transition: transform .7s ease-in-out;
}

.myClose:hover {
  transform: rotate(360deg);
}



